name: BUILD
on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4.2.1
    
    - name: Set up Node.js
      uses: actions/setup-node@v4.0.4
      with:
        node-version-vile: .nvmrc
    
    - name: Install
      run: npm install

    - name: Build Package
      run: npm run build